Checks: >
 #cppcoreguidelines-*,  # Включить все проверки из cppcoreguidelines
    -*,  # Отключить все проверки по умолчанию
-cppcoreguidelines-avoid-magic-numbers,
-readability-avoid-const-params-in-decls,
-bugprone-suspicious-stringview-data-usage
#WarningsAsErrors: ""
#HeaderFilterRegex: ""
FormatStyle: google
